.outer{
   /*Flexbox Adjustments*/
  display: flex;
  align-items: end;
  align-content: end;
  justify-content: end;
  /*Image Adjustments*/
  padding:20px;
  width: 1400px;
  height: 1000px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://lh3.googleusercontent.com/DR7vPvoWT8SeiN_zgugUOFBYKuoelnXeR7pM-joLUFP0DRY67F6EBiBmoHl1CwPNYqr1RQXU-dgF_mY71gWePQfDpWJmeiXuZwIPzzShzdBeX-GxIS-ZLBfc4QJV_C2vL4EgI3VdOkjtid9-uaQaFOeFBFmw77DOOdNdHlKOXt5GmJgH8KsJF2KStHGEVkUZQ-ysh0LsUcrf3cJuYOijV7lqWq-JqWNvxGs20aDuirBmlTavj8RPnnVNv1TybCHam20Am-sRkhM1mcg1Rpw5OquF1UKG5PSLb0LYlYSZeyyAo13il-a9wIGGaWXkqnmRLGPpav8TTHQ4Nq06gauuZzPbmqsieVBQsPckHOyiXJP5WVWmNMwi4iLUsW27jyk7QZ1dsGG_eBiq1HU4P8cemLmOdKP4Wjr9bbqZYycdLN2jHp7hhcdsvbNtkKgvB7o7pYhunEYmPcCgW_c_W43OtUsyd2FDpt4OjD4ERpENCmRLJK3uauB07JavcqH_YLYxmYxGZaIonFJwkOGNvqHeuBlNLRIs0HBkHukS7HXfunpMqa3yb82OmQtq64Aq1RxZZehwrMrvkRhDHr1vL1jq6xWTf9E-QtNf_h959HnDu-zTYuGyUJcUVkbSkMX2B0cw7Bml-66R5KXtRUQNJiW6p5YPjSr7HepdYquIRihaJfSAp-4IqpvJYO8HACNxOUmKKGm5Yw2iZkWKCtZ7UOonx053=w1346-h1009-no?authuser=0');
  opacity: 1;
  
}
/*.inner1 {
  font-size: 20px;
  color: white;
  margin: 5px;
  margin-top: 100px;
  padding: 20px;
  background: transparent;
  border: white solid;
  width: 100px;
  height: 75px;
 
}*/

.inner1 {
  font-size: 50px;
  color: white;
  margin: 100px;
  text-align: center;
  margin-top: 150px;
  padding: 20px;
  background: transparent;
  border: white solid;
  width: 500px;
  height: 170px;
  opacity: 0.5;
 
}

.box2 {
  display: flex;
  width: 1400px;
  max-height: 285px;
  padding: 20px;
  margin-top: 10px;
  background-color: antiquewhite;
  
}

.box2in1 {
  display: flex;
  margin: 5px;
  padding: 10px;
  background-color: cornsilk;
  font-size: 30px;
  font-family: Garamond, serif;
}
.box2in2 {
  display: flex;
  margin: 5px;
  padding: 10px;
  background-color: cornsilk;
  font-size: 25px;
  font-family: Garamond, serif;
}
.box3 {
  display: flex;
  width: 1400px;
  height: 500px;
  padding: 20px;
  margin-top: 10px;
  background-color: #3c8fcf;
}  
  
.box3in1 {
  display: flex;
  padding: 30px;
  min-width: 200px;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://lh3.googleusercontent.com/fG2bpoP5u6zMFlg-8C0Ecy6jyb9dW7NEkeGOuOhL0K-PR2-_52Vn7Xv7csJStFbko4Vt2i4kRxy81Z_1DU3BeVyNqqYP2RZalwYOQAVdNA6P2STxOg-MHUuTXFWhdlWmqlEoLCX-IKoh_-UHbvGZPwbr1WA9PFxz_5VQX3suK0mcoEltF-i131-4s5w198d84_p2NzPcfztwDglHeyZQd1pIx8-3vQd-_IvrUWiKys7VD1uq1cBDiYRouX8llDJhELrVz-sdfPDfy3W3GrZz1pPbbNpMOq_2J547jE3HazoNWTS5YgSe21HIZWVzEDGgQd5ab8yCpaJnoOM7kzClC2M0pTFcsQrTrd1YJP44e_rWlCjDUpLLgt-wwdhuhKUvkuQ4dauFSgPtSm-4-g_U4slcEzl1YvKvFhXciKoS5JO01mXf8QpGBbev44OelXfRDNQ30aZQpdex7wiHkuhXjoxXc_dbRLn4xvTKV747g1BJxcuRb_-axECcDiFEYFq5oM_fMrfpE3FOv1E-DaCzelVl75Ix6EAgIr33pf9OeAoXKUGVfMMOUAA5Vn6hu2KNKczazUcb2cDuZ-M7Hy16RkmgfcYsh7cUMLPkT5IHMU2mvNWBt2AXdv8Q51YCuppMmkX6RmCdp0ie-YXxMiY_EtbUrt1jXXwcoXZwuMtoJhRpEcaAgFjUtQlQIfLxb5Dgp1Cd21JdOf8id-tMxSqR8vkj=w487-h1009-no?authuser=0');
    
} 
.box3in2 {
  font-size: 30px;
  color: white;  
  padding: 15px;
  margin: 15px;
  background-color: #2d6b9c;
  width: 1200px;
}
.box4 {
  max-width: 1400px;
  padding: 10px;
  margin: 10px;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://lh3.googleusercontent.com/wRU1QUivBSH5SWNvjf64EKiXH02mo_IskkdJKoAymOUzJ3IYMnYukqJdXqIrrDkwv05aHbMqFNzWghCcHgwtnDexa95Z8c-oFAOtX3z32xY283XQM6SZTFDxw_pEG0fx3R6f2p4VnvRNaclHSIvGZAJRw1l1-NGe3dUeCvVCd7t2-07aqEv8Lxa9WyUnSdXIEsxyiv_foebYmvWe6VC7_Zgg4-3wg_4LwZWudzy39CFJQccwqVFL8XGMtpEN2eYqLKg7urXo_u3BJ1Ubtfy66kZY3lRKLr7AkloCreMyqY8E1x8Eq-JkxYYTdnEWEfXJMD3YeNQM1sB-12mknIBSb91uzn4r5r4zgkFy_RGaqDOCxAEqrlIKbyRG7Bseac9dCUeCYnObbQauSePN6bN-8NYuG1Rgm0EIdwPIBJkYf6m8JI03SsfzoBU2Hc8iTVIu8ntrAGqpMz8KtU116tWIh_l4rbrAouUWDsWQUyrd5jOqBGZN1uHHgJkqWy3dNqt63GjeRzax0pnf3IYQNVPR5TRLlf0VlFkUXAJ8YRHv0NMzR2Y75WKo_nYdEO_bM86IE4UNuhg69Ar8XY0TAw1GqMXFIKUDaId5tAbtbOSgaUdRGoK8Xl115rM9NsgM6wZcULnrriwqLxtmiKa7wEhCvrbvL5d57485mgx2Saq7UZ2tirYlIpCt4ZzfxWhSfLuaf81b2aYHxW8wDqUZX1hUHFM=w1514-h1009-no?authuser=0')
}

.box5 {
  justify-content: center;
  display: flex;
  width: 1400px;
  height: 50px;
  padding: 20px;
  margin-top: 10px;
  background-color: antiquewhite;

}  

.button {
  align-items: center;
  color:black;
  text-decoration: none;
  min-width: 100px; 
  float:center;
  text-align: center;
  vertical-align: middle;
  background-color: lightpink;
  line-height: 45px;
  
  transition-duration: 0.4s;
  border: 1px solid pink;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 2px;
  border: black soild;
}